<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example51-production</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  

  
</head>
<body ng-app="">
    <div ng-init="nutritions = [{fruit:'Apple', calories:'95'},
                           {fruit:'Apricot', calories:'79'},
                           {fruit:'Banana', calories:'105'},
                           {fruit:'Blueberry', calories:'85'},
                           {fruit:'Cherry', calories:'77'},
                           {fruit:'Clementine', calories:'35'}]"></div>

  Search: <input ng-model="searchText">
  <table id="searchTextResults">
    <tr><th>Fruit</th><th>Calories</th></tr>
    <tr ng-repeat="nutrition in nutritions | filter:searchText">
      <td>{{nutrition.fruit}}</td>
      <td>{{nutrition.calories}}</td>
    </tr>
  </table>
  <hr>
  Any: <input ng-model="search.$"> <br>
  fruit only <input ng-model="search.fruit"><br>
  calories only <input ng-model="search.calories"><br>
  Equality <input type="checkbox" ng-model="strict"><br>
  <table id="searchObjResults">
    <tr><th>Fruit</th><th>Calories</th></tr>
    <tr ng-repeat="nutritionObj in nutritions | filter:search:strict">
      <td>{{nutritionObj.fruit}}</td>
      <td>{{nutritionObj.calories}}</td>
    </tr>
  </table>
</body>
</html>